---
title: FAQ
nav_title: faq
---

<h2>FAQ = OgF = Oft gefragte Fragen</h2>

<h3> Ist, Problem, Lösung</h3>
<p>
Ist: Was ist die jetzige Marktsituation? Verschwendung (technische Fakten)
Problem:  Abfall, Rohstoffknappheit, Nachhaltigkeit
Motivation und Lösung: Warum genau eine Lampe - Ein Beweis, das das Konzept cradle to cradle aufgehen kann -  Lampe = einfach genug + realistisch, jetzt machbar zu sein (Technik, Kosten, Ressourcen)
</p>
<h3> Das Produkt</h3>

<p>
• 1.0 Warum sieht die Lampe so aus? - Design by function
• 1.1 Konstruktionseigenschaften? zerlegbar, fast jedes Teil austauschbar
• 1.2 Sichtbare Proukteigenschaften:
- 2 LEDs
- Warmes Glühbirnenlicht 2700 Kelvin
- Flackern nicht mehr als eine klassische Glühbirne.
- ….
</p>

<h3>Nachhaltigkeit & Konzept</h3>

<p>
2.0 Was macht die Lampe nachhaltig? - manuell reparierbar, umweltschoned, ressourcenschonend, (Design), Transportwege
2.1 Wo wird die Lampe später produziert (im Idealfall) ? - nah beim Verbraucher, made in Germany
2.2 Was macht die fair? - (möglichst) regional, faire Rohstoffe, keine Ausbeutung,
2.3 Warum können wir das? -  Weil wir daran glauben, langfristig einen Gewinn für zukünftige Technologien & Generationen
</p>

<h3>Technische Rahmendaten</h3>

<p>
• 3.0 Funktioniert die Lampe anders? - bei Netzspannung -  minmaler Materialaufwand  = reduzierte Bauteile,
• 3.1 Warum hält die Lampe so lang? - Betriebstemperatur minimal + Kühlung perfektioniert
• 3.2 Technische Daten Lampe? bitte ausführen in Bullets
</p>

<h3>Verbraucher-Motivation & Bedenken</h3>
<p>
• 4.1 Warum sollte ich es kaufen? - weil das erst der Anfang ist - und jeder gern ein Pionier ist
• 4.2 Wie profitiere ich als Verbraucher? - Mit jeder Reperatur und einem reinen Gewissen
• 4.3 Ist das Produkt nach Standards getestet und funktionsbereitet? - Ja. Erste Prototyp (im universitären Bereich getestet - Uni Stuttgart / Fraunhofer)
</p>
  
