---
title: Philosophie
nav_title: philoshophie
---
  
    
      <h2>Liebenswertes</h2>

      <p>Gaaanz ruhig. Immer schnell ist nicht immer nachhaltig.</p>
      <p>What is this</p>

	  <h3>Denkst Du noch oder Machst Du schon?</h3>
      <p>passivitäät is' lam0! komm raus und mach was gshitx</p>

    
  
