<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>My blog - <%= @item[:title] %></title>
    <link rel="stylesheet" type="text/css" 
      href="/assets/css/bootstrap.css" 
      media="screen">
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <!-- Docs master nav -->
    <header class="navbar navbar-static-top" id="top" role="banner">
  <div class="container">
    <div class="navbar-header">
     <%= link_to("index", "/") %>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li>
         <%= link_to("about", "/about/") %>
        </li>
        <li>
         <%= link_to("shmindex", "/") %>
        </li>
        
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><<%= link_to("aboot", "/about/") %></li>
        
      </ul>
    </nav>
  </div>
</header>

    <section class='content'>
      <%= yield %>
    </section>
  </body>
</html>