---
home: "ruecklampe"
---
<!DOCTYPE HTML>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>rucklicht.de/<%= @item[:title] %></title>
    <meta name="author" content="5t03"/>
    <!--<link rel="stylesheet" type="text/css"  href="/resources/css/fonts.css">
    <link rel="stylesheet" type="text/css"  href="/resources/css/prettify.css">
    <link rel="stylesheet" type="text/css"  href="/resources/css/default.css">
    http://getbootstrap.com/
    <link rel="stylesheet" type="text/css"  href="stylesheet.css">-->
    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/5t03.css"	>

</head>
<body>
<div class="container">
    <div class="navbar navbar-default" id="top" role="banner">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="menubar-logo" rel="home" href="/">
                        <img class="img-responsive" src="../assets/img/logosvg_56x50.svg">
                    <!-- <img style="max-width: 50px;"
                          src="../assets/img/stoe_plain.png"> -->
                    <!--see http://getbootstrap.com/examples/navbar-static-top/ -->
                    <!--<%= @item[:home] %> r.leuchte-->
                </a>
                <!--        <img class="img-responsive" style="width: inherit; height: inherit;" src="../assets/img/stoe_plain.png"/><a href="#"><%= @item[:home] %></a>
                -->
            </div>
            <nav class="navbar-collapse collapse" role="navigation" style="height: 1px;">
                <ul class="nav navbar-nav">
                    <%= nav_link @items['/productinfo/'] %>
                    <%= nav_link @items['/concept/'] %>
                    <%= nav_link @items['/motivation/'] %>
                  <!--  <%= nav_link @items['/philosophy/'] %>
                    <%= nav_link @items['/faq/'] %> -->
                    <%= nav_link @items['/contact/'] %>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <%= nav_link @items['/imprint/'] %>
                </ul>
            </nav>
        </div>
    </div>
	<div class="jumbotron">
		<h3>This site is currently under construction</h3>
	</div>
    <div class="main">
        <div class="well">
            <%= yield %>
        </div>

        <footer>
            <!--
			<p>&copy; 2014 <%= link_to("resumer", "http://www.resumer.de") %></p>
			-->
			<p>&copy; 2014 <%= link_to("resumer", "/") %></p>
            <p>This site is generated with <%= link_to("nanoc", "http://www.nanoc.ws") %></p>
        </footer>

    </div>
</div>
</body>
</html>

